<!DOCTYPE html>
<html>
    <head>
        <title>Monym</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- jQuery -->
        <script src="jquery.min.js"></script>

        <!-- DataTables -->
        <script src="datatables.min.js"></script>
        <link rel="stylesheet" href="datatables.min.css">

        <!-- Compiled CSS -->
        <link rel="stylesheet" href="bootstrap.css">

        <!-- Static JS -->
        <script src="bootstrap.min.js"></script>

        <!-- Font Awesome -->
        <link rel="stylesheet" href="fontawesome/css/all.css">
        <script src="fontawesome/js/all.js"></script>

        <!-- DataTables Scripting -->
        <script>
            $(document).ready(function()
            {
                $("#sonarr_series_table").DataTable();
            });
        </script>


    </head>
    <body class="bg-dark text-light">
        <header class="container-md">
            <h1><i class="fas fa-desktop text-primary mr-2"></i>Monym</h1>
        </header>
        <div class="container-md bg-light text-dark rounded p-2">
            <!-- <h1 class="text-center">Sonarr</h1> -->
            <img class="mx-auto" src="images/sonarr_logo.png">
            <h2>Sonarr Status</h2>
            <p class="bg-info text-dark container-fluid rounded p-2">Version: <%= info.version%> &nbsp; </p>
            <p class="bg-info text-dark container-fluid rounded p-2">Operating System: <%= info.osName + " " + info.osVersion%></p>
            <h2>Sonarr Series Status</h2>
            <div>
                <a class="btn btn-primary mb-2" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Series List</a>
                <div class="collapse show" id="collapseExample">
                    <table id="sonarr_series_table" class="table table-hover table-dark table-bordered table-responsive-md table-sm">
                        <thead class="bg-primary">
                            <tr>
                                <th>Show</th>
                                <th>Status</th>
                                <th>Network</th>
                                <th>Episodes Available</th>  
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i < series.length; i++) { %>
                            <tr>
                                <td class="align-middle"><%= series[i].title %></td>
                                <td class="align-middle"><%= series[i].status %></td>
                                <td class="align-middle"><%= series[i].network %></td>
                                <td class="align-middle" data-order="<%= (series[i].episodeFileCount / series[i].episodeCount)*100 %>%">
                                    <div class="text-center"><%= series[i].episodeFileCount %> / <%= series[i].episodeCount %></div>
                                    
                                    <div class="progress">
                                        
                                        <% if(series[i].episodeFileCount / series[i].episodeCount == 1) { %>
                                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: <%=series[i].episodeFileCount / series[i].episodeCount * 100%>%;" aria-valuenow="<%= series[i].episodeFileCount %>" aria-valuemin="0" aria-valuemax="<%= series[i].episodeCount %>"></div>
                                            
                                        <%} else {%>
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary text-dark" role="progressbar" style="width: <%=series[i].episodeFileCount / series[i].episodeCount * 100%>%;" aria-valuenow="<%= series[i].episodeFileCount %>" aria-valuemin="0" aria-valuemax="<%= series[i].episodeCount %>"></div>
                                        <%}%>
                                        
                                    </div>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- <div class="container-md bg-light text-dark rounded p-2 mt-2">
            <h1 class="text-center">Radarr Information</h1>
        </div> -->
    </body>
</html>