<!DOCTYPE html>
<html>
    <head>
        <title>Monym</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- jQuery -->
        <script src="jquery.min.js"></script>

        <!-- Font Awesome -->
        <link rel="stylesheet" href="fontawesome/css/all.css">
        <script src="fontawesome/js/all.js"></script>

        <!-- DataTables -->
        <script src="datatables.min.js"></script>
        <link rel="stylesheet" href="datatables.min.css">

        <!-- Compiled CSS -->
        <link rel="stylesheet" href="bootstrap.css">

        <!-- Static JS -->
        <script src="bootstrap.min.js"></script>

        <!-- DataTables Scripting -->
        <script>
            $(document).ready(function()
            {
                $("#sonarr_series_table").DataTable({
                    paging: false,
                    ordering: true
                });

                $("#radarr_movies_table").DataTable({
                    paging: false,
                    ordering: true
                });
            });
        </script>
    </head>
    <body class="bg-dark text-light">
        <header class="container-md">
            <h1 class="text-center p-2 pt-3"><i class="fas fa-desktop text-primary mr-2"></i>Monym</h1>
        </header>
        <!-- 
            Sonarr Series Section
         -->
        <div class="container-md bg-light text-dark rounded p-2">
            <div class="row">
                <div class="col-md-auto">
                    <div class="w-100">
                        <img class="mx-auto" height="100px" src="images/sonarr_logo.png">
                    </div>
                </div>
                <div class="col-md">
                    <p class="bg-secondary text-dark container-fluid rounded p-2">Version: <%= sonarr_info.version%> &nbsp; </p>
                    <p class="bg-secondary text-dark container-fluid rounded p-2">Operating System: <%= sonarr_info.osName + " " + sonarr_info.osVersion%></p>
                </div>
            </div>
            <div>
                <a class="btn btn-primary mb-2" data-toggle="collapse" href="#collapseSonarr" role="button" aria-expanded="false" aria-controls="collapseSonarr">Toggle Table</a>
                <div class="collapse" id="collapseSonarr">
                    <table id="sonarr_series_table" class="table table-hover table-dark table-striped table-responsive-sm table-sm">
                        <thead class="bg-primary text-center">
                            <tr>
                                <th>Show</th>
                                <th>Status</th>
                                <th>Network</th>
                                <th>On Plex</th>  
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i < sonarr_series.length; i++) { %>
                            <tr>
                                <!-- Show Name -->
                                <td class="align-middle text-center" data-search="<%= sonarr_series[i].title %>" data-order="<%= sonarr_series[i].title %>">
                                    <%= sonarr_series[i].title %>
                                </td>

                                <!-- Show Status -->
                                <% if(sonarr_series[i].status == "ended") { %>
                                    <td class="align-middle"><i class="fas fa-stop text-danger mr-2"></i><%= sonarr_series[i].status %></td>
                                <% } else{%>
                                    <td class="align-middle"><i class="fas fa-play text-success mr-2"></i><%= sonarr_series[i].status %></td>
                                <% } %>
                                <!-- Show Network -->
                                <td class="align-middle text-center"><%= sonarr_series[i].network %></td>

                                <!-- 
                                    Show Progress
                                    Note:   This got very complex very quickly... 
                                            Thanks to bootstrap and the way it handles status bars.
                                -->
                                <td class="w-25 align-middle" data-order="<%= (sonarr_series[i].episodeFileCount / sonarr_series[i].episodeCount)*100 %>%">
                                    <div class="text-center">
                                        <%= sonarr_series[i].episodeFileCount %> / <%= sonarr_series[i].episodeCount %>
                                    </div>
                                    
                                    <div class="progress">
                                        
                                        <% if(sonarr_series[i].episodeFileCount / sonarr_series[i].episodeCount == 1) { %>
                                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: <%=sonarr_series[i].episodeFileCount / sonarr_series[i].episodeCount * 100%>%;" aria-valuenow="<%= sonarr_series[i].episodeFileCount %>" aria-valuemin="0" aria-valuemax="<%= sonarr_series[i].episodeCount %>"></div>
                                            
                                        <%} else {%>
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary text-dark" role="progressbar" style="width: <%=sonarr_series[i].episodeFileCount / sonarr_series[i].episodeCount * 100%>%;" aria-valuenow="<%= sonarr_series[i].episodeFileCount %>" aria-valuemin="0" aria-valuemax="<%= sonarr_series[i].episodeCount %>"></div>
                                        <%}%>
                                        
                                    </div>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- 
            Radarr Movies Section
        -->
        <div class="container-md bg-light text-dark rounded p-2 mt-2">
            <div class="row">
                <div class="col-md-auto">
                    <div class="w-100">
                        <h1><img class="mx-auto" height="100px" src="images/radarr_logo.png">Radarr</h1>
                    </div>
                </div>
                <div class="col-md">
                    <p class="bg-secondary text-dark container-fluid rounded p-2">Version: <%= radarr_info.version%> &nbsp; </p>
                    <p class="bg-secondary text-dark container-fluid rounded p-2">Operating System: <%= radarr_info.osName + " " + radarr_info.osVersion%></p>
                </div>
            </div>
            <div>
                <a class="btn btn-primary mb-2" data-toggle="collapse" href="#collapseRadarr" role="button" aria-expanded="false" aria-controls="collapseRadarr">Toggle Table</a>
                <div class="collapse" id="collapseRadarr">
                    <table id="radarr_movies_table" class="table table-hover table-dark table-striped table-responsive-sm table-sm">
                        <thead class="bg-primary text-center">
                            <tr>
                                <th>Movie</th>
                                <th>Runtime</th>
                                <th>Rating</th>
                                <th>Status</th>
                                <th>On Plex</th>  
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <% for(var i = 0; i < radarr_movies.length; i++) { %>
                            
                            <tr>
                                <!-- Movie Title and Year -->
                                <td>
                                    <%= radarr_movies[i].title %> (<%= radarr_movies[i].year%>)
                                </td>

                                <!-- Movie Runtime -->
                                <td><%= radarr_movies[i].runtime %></td>

                                <!-- Movie Ratings -->
                                <td><%= radarr_movies[i].ratings.value %>/10</td>

                                <!-- Movie Released Status -->
                                <td class="w-25">
                                    <% if(radarr_movies[i].status == "released") {%>
                                        <i class="fas fa-check-circle text-success mr-2"></i><%= radarr_movies[i].status %>
                                    <% } else if(radarr_movies[i].status == "announced") { %>
                                        <i class="fas fa-bullhorn text-primary mr-2"></i><%= radarr_movies[i].status %>
                                    <% } else if (radarr_movies[i].status == "inCinemas") { %>
                                        <i class="fas fa-film bg-secondary mr-2 "></i><%= radarr_movies[i].status %>
                                    <% } else { %>
                                        <%= radarr_movies[i].status %>
                                    <% } %> 
                                </td>

                                 
                                <!-- Movie Found Status -->
                                <% if(radarr_movies[i].hasFile){ %>
                                    <td data-order="true"><i class="fas fa-check-circle text-success"></i></td>
                                <%}else{%>
                                    <td data-order="false"><i class="fas fa-minus-circle text-danger"></i></td>
                                <%}%>
                            </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </body>
</html>